body {
    margin: 0px;
    padding: 0px;
}
.container-fluid {
    width: 100%!important;
    padding: 0px;
    margin: 0px!important;
}

.profile-image .profile-text {
    position: absolute;
    top: 300px;
    right: 700px;
    font-size: 1.2em;
    font-family: 'Lora' serif;
    color: whitesmoke;
}
.profile-image  .profile-btn {
    position: absolute;
    top: 400px;
    right: 850px;
    font-size: 1.2em;
    font-family: 'Lora' serif;
}
.profile-image{
        height:700px!important;
}
.profile-image img{
    width: 100%;
    height:100%!important;
    position: relative;
    
}


/*  Section About Us    */
#about{
   
    padding-top:50px;
    padding-bottom:50px;
    color:#555;
    
 }
 #about btn{
      
      margin-top:30px;
      margin-bottom:40px;
      
 }
 .about-content{
         
         padding:20px;
 }
 .skill-bar p{
       
       margin-bottom:6px;
       font-weight:600;
  }
  .progress-bar{
        
        border-radius:16px;
        
  }     
  .progress{
        
        border-radius:16px;
        margin-bottom:20px;
  }

  /*  Section What I Do    */
  #services{
       
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/services.png);
    background-size:cover;
    background-position:center;
    color:#efefef!important;
    background-attachment:fixed;
    padding-top:50px;
    padding-bottom:50px;    
}
#services h1{
     
     text-align:center;
     color:#efefef!important;
     padding-bottom:10px;  
}
#services h1::after
{
     content:'';
     background:#efefef;
     display:block;
     height:3px;
     width:170px;
     margin:20px auto 5px;
     
}
.services{
    margin-top:40px;
}
.services .col-md-6:hover
{
     background:#007bff;
     cursor:pointer;
     transition:0.7s;
               
}

#services{
    
    font-size:14px;
    margin-top:20px;
    color:#ccc;
}

.icon{
   
   font-size:30px;
   margin:20px auto;
   padding:20px;
   height:80px;
   width:80px;
   border:1px solid #fff;
   border-radius:50%;    
}

#work{
     
    padding-top:50px;
    padding-bottom:50px;
    color:#555; 
}
#work h1{
    
     text-align:center;
     color:#555!important;
     padding-bottom:10px;  
}
#work h1:after{
       
       content:'';
       background:#007bff;
       display:block;
       height:3px;
       width:170px;
       margin:20px auto 5px;       
}
.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; }
    .gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
    .gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
    
    @media (max-width: 450px) {
    .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    }
    }
    
    @media (max-width: 400px) {
    .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    }
    }


    #contact h1{
     
        text-align:center;
        color:#555!important;
        padding-bottom:10px;  
   }
   #contact h1:after{
          
          content:'';
          background:#007bff;
          display:block;
          height:3px;
          width:170px;
          margin:20px auto 5px;       
   }
   
   #contact{
          
          background:#efefef;
          padding-top:40px;
          padding-bottom:40px;
          color:#777;
          
   }
   .follow{
      
    padding:10px;
    margin:15px;
    background:#fff;
    
}
.contact-info .fa{

      margin:10px;
      font-weight:bold;
      color:#007bff;
              
}

    #footer{
        background:#333;
        padding:12px;
        color:#fff;
    }
    .fa-heart-o{
        
        margin:3px;
        color:red;
    }
    